pipeline/pl_audi_s3_zeotap_landing.json
{
	"name": "pl_audi_s3_zeotap_landing",
	"properties": {
		"description": "Pipeline to download and process zeotap files",
		"activities": [
			{
				"name": "check_for_load_type",
				"description": "This processor will check whether the parameter passed to the pipeline is \"initial\" or \"incremental\". According to the parameter, values for start_date and end_date will be set up.",
				"type": "IfCondition",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(pipeline().parameters.load_type,'initial')",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "start_date",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "get_delta_date",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "start_date_true",
								"value": {
									"value": "@convertToUtc(activity('get_delta_date').Output.runOutPut, 'Eastern Standard Time') ",
									"type": "Expression"
								}
							}
						},
						{
							"name": "get_delta_date",
							"type": "DatabricksNotebook",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebookPath": "/zeotap/zeotap_to_adf_parameter",
								"baseParameters": {
									"category": {
										"value": "@toLower(pipeline().parameters.src_directory_name)",
										"type": "Expression"
									},
									"file_type_folder": {
										"value": "@pipeline().parameters.file_type_folder_sink",
										"type": "Expression"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "ls_audi_databricks_v8x",
								"type": "LinkedServiceReference"
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "start_date_true",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "start_date_true",
								"value": {
									"value": "@pipeline().parameters.start_date",
									"type": "Expression"
								}
							}
						}
					]
				}
			},
			{
				"name": "list_success_file",
				"description": "This processor will list all the success files present in the given date range",
				"type": "GetMetadata",
				"dependsOn": [
					{
						"activity": "modified_start_date",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "modified_end_date",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_audi_s3_zeotap_src",
						"type": "DatasetReference",
						"parameters": {
							"src_directory_Name": {
								"value": "@pipeline().parameters.src_directory_name",
								"type": "Expression"
							},
							"fileName": {
								"value": "@concat(toLower(pipeline().parameters.src_directory_name),'_',pipeline().parameters.file_type,'*_SUCCESS')",
								"type": "Expression"
							}
						}
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AmazonS3ReadSettings",
						"recursive": true,
						"modifiedDatetimeStart": {
							"value": "@variables('start_date')",
							"type": "Expression"
						},
						"modifiedDatetimeEnd": {
							"value": "@variables('end_date')",
							"type": "Expression"
						}
					},
					"formatSettings": {
						"type": "BinaryReadSettings"
					}
				}
			},
			{
				"name": "check_success_file",
				"description": "Check whether there are any success files listed in list_success_file processor",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "list_success_file",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@greaterOrEquals(length(activity('list_success_file').output.childItems),1)",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "send_email",
							"type": "DatabricksNotebook",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebookPath": "/zeotap/send_email",
								"baseParameters": {
									"category": {
										"value": "@toLower(pipeline().parameters.src_directory_name)",
										"type": "Expression"
									},
									"file_type": {
										"value": "@pipeline().parameters.file_type",
										"type": "Expression"
									},
									"pipeline_name": {
										"value": "@pipeline().Pipeline",
										"type": "Expression"
									},
									"pipeline_id": {
										"value": "@pipeline().RunId",
										"type": "Expression"
									},
									"activity_output": {
										"value": "@string(length(activity('list_success_file').output.childItems))",
										"type": "Expression"
									},
									"start_date": {
										"value": "@variables('start_date')",
										"type": "Expression"
									},
									"end_date": {
										"value": "@variables('end_date')",
										"type": "Expression"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "ls_audi_databricks_v8x",
								"type": "LinkedServiceReference"
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "list_csv_files",
							"type": "GetMetadata",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "ds_audi_s3_zeotap_src",
									"type": "DatasetReference",
									"parameters": {
										"src_directory_Name": {
											"value": "@pipeline().parameters.src_directory_name",
											"type": "Expression"
										},
										"fileName": {
											"value": "@concat(toLower(pipeline().parameters.src_directory_name),'_',pipeline().parameters.file_type,'_*.gz')",
											"type": "Expression"
										}
									}
								},
								"fieldList": [
									"childItems"
								],
								"storeSettings": {
									"type": "AmazonS3ReadSettings",
									"recursive": true,
									"modifiedDatetimeStart": {
										"value": "@variables('start_date')",
										"type": "Expression"
									},
									"modifiedDatetimeEnd": {
										"value": "@variables('end_date')",
										"type": "Expression"
									}
								},
								"formatSettings": {
									"type": "BinaryReadSettings"
								}
							}
						}
					]
				}
			},
			{
				"name": "modified_start_date",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "check_for_load_type",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "start_date",
					"value": {
						"value": "@variables('start_date_true')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "modified_end_date",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "end_date",
					"value": {
						"value": "@concat(formatDateTime(utcnow(), 'yyyy-MM-dd'),' 04:00:00.000Z')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "copy_each_csv_file",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "check_success_file",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('list_csv_files').output.childItems",
						"type": "Expression"
					},
					"isSequential": false,
					"activities": [
						{
							"name": "copy_csv_file",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "BinarySource",
									"storeSettings": {
										"type": "AmazonS3ReadSettings",
										"recursive": true
									},
									"formatSettings": {
										"type": "BinaryReadSettings"
									}
								},
								"sink": {
									"type": "BinarySink",
									"storeSettings": {
										"type": "AzureBlobStorageWriteSettings"
									}
								},
								"enableStaging": false,
								"validateDataConsistency": false
							},
							"inputs": [
								{
									"referenceName": "ds_audi_s3_zeotap_src",
									"type": "DatasetReference",
									"parameters": {
										"src_directory_Name": {
											"value": "@pipeline().parameters.src_directory_name",
											"type": "Expression"
										},
										"fileName": {
											"value": "@item().name",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "ds_audi_azure_blob_sink",
									"type": "DatasetReference",
									"parameters": {
										"directoryName": {
											"value": "@concat('raw_zeotap_lnd/',toLower(pipeline().parameters.src_directory_name),'_',pipeline().parameters.file_type)",
											"type": "Expression"
										},
										"container_name": "raw"
									}
								}
							]
						}
					]
				}
			},
			{
				"name": "zeotap_file_loader",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "copy_each_csv_file",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/zeotap/zeotap_file_loader",
					"baseParameters": {
						"category": {
							"value": "@toLower(pipeline().parameters.src_directory_name)",
							"type": "Expression"
						},
						"file_type": {
							"value": "@pipeline().parameters.file_type",
							"type": "Expression"
						},
						"folder": {
							"value": "@pipeline().parameters.file_type_folder_sink",
							"type": "Expression"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "ls_audi_databricks_v8x",
					"type": "LinkedServiceReference"
				}
			}
		],
		"parameters": {
			"load_type": {
				"type": "string",
				"defaultValue": "incremental"
			},
			"start_date": {
				"type": "string",
				"defaultValue": "01/01/2020 00:00:00"
			},
			"file_type": {
				"type": "string",
				"defaultValue": "gaid"
			},
			"src_directory_name": {
				"type": "string",
				"defaultValue": "Demographic"
			},
			"file_type_folder_sink": {
				"type": "string",
				"defaultValue": "gaid"
			}
		},
		"variables": {
			"start_date": {
				"type": "String"
			},
			"end_date": {
				"type": "String"
			},
			"start_date_true": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2021-05-19T03:49:13Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}