pipeline/pl_DQ_Validation_run.json
{
	"name": "pl_DQ_Validation_run",
	"properties": {
		"activities": [
			{
				"name": "lkp_DQValidationList",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Set vRunDate",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Set vRuleId",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Set vRunId",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureTableSource",
						"azureTableSourceQuery": {
							"value": "@concat('RuleId eq ', variables('vRuleId'))",
							"type": "Expression"
						},
						"azureTableSourceIgnoreTableNotFound": false
					},
					"dataset": {
						"referenceName": "ds_tbl_DQValidationList",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Set vRunDate",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "vRunDate",
					"value": {
						"value": "@formatDateTime(utcnow(),'yyyy-MM-dd')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set vRuleId",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "vRuleId",
					"value": {
						"value": "@coalesce(string(pipeline().parameters.RuleId),'1')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Execute Target Query",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "lkp_DQValidationList",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "pl_DQ_Validation_query_run",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"Database": {
							"value": "@activity('lkp_DQValidationList').output.FirstRow.Database",
							"type": "Expression"
						},
						"Schema": {
							"value": "@activity('lkp_DQValidationList').output.FirstRow.Schema",
							"type": "Expression"
						},
						"Table": {
							"value": "@activity('lkp_DQValidationList').output.FirstRow.Table",
							"type": "Expression"
						},
						"ValidationColumn": {
							"value": "@activity('lkp_DQValidationList').output.FirstRow.ValidationColumn",
							"type": "Expression"
						},
						"ExpectedCountExpression": {
							"value": "@activity('lkp_DQValidationList').output.FirstRow.ExpectedCountExpression",
							"type": "Expression"
						},
						"ActualCountExpression": {
							"value": "@activity('lkp_DQValidationList').output.FirstRow.ActualCountExpression",
							"type": "Expression"
						},
						"RuleId": {
							"value": "@activity('lkp_DQValidationList').output.FirstRow.RuleId",
							"type": "Expression"
						},
						"RunDate": {
							"value": "@variables('vRunDate')",
							"type": "Expression"
						},
						"RunId": {
							"value": "@variables('vRunId')",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "Set vRunId",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "vRunId",
					"value": {
						"value": "@pipeline().RunId",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"RuleId": {
				"type": "string",
				"defaultValue": "10001"
			}
		},
		"variables": {
			"vQueryFor": {
				"type": "String",
				"defaultValue": "Source"
			},
			"vDatabase": {
				"type": "String",
				"defaultValue": "SrcDatabase"
			},
			"vSchema": {
				"type": "String",
				"defaultValue": "srcSchema"
			},
			"vTable": {
				"type": "String",
				"defaultValue": "SrcTable"
			},
			"vQuery": {
				"type": "String",
				"defaultValue": "SrcQuery"
			},
			"vRunDate": {
				"type": "String"
			},
			"vRuleId": {
				"type": "String",
				"defaultValue": "10001"
			},
			"vRunId": {
				"type": "String",
				"defaultValue": "0"
			}
		},
		"folder": {
			"name": "DQ/DQ_Validation"
		},
		"annotations": [],
		"lastPublishTime": "2021-08-17T17:23:29Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}