pipeline/pl_s3_simplifi_campaign_event_landing.json
{
	"name": "pl_s3_simplifi_campaign_event_landing",
	"properties": {
		"activities": [
			{
				"name": "list_csv_files",
				"type": "GetMetadata",
				"dependsOn": [
					{
						"activity": "modified_start_date",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "modified_end_date",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_audi_simplifi_campaign_event",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AmazonS3ReadSettings",
						"recursive": true,
						"modifiedDatetimeStart": {
							"value": "@variables('start_date')",
							"type": "Expression"
						},
						"modifiedDatetimeEnd": {
							"value": "@variables('end_date')",
							"type": "Expression"
						}
					},
					"formatSettings": {
						"type": "BinaryReadSettings"
					}
				}
			},
			{
				"name": "If Condition1",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "list_csv_files",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@greaterOrEquals(length(activity('list_csv_files').output.childItems),1)",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "send_emails_if_no_files",
							"type": "DatabricksNotebook",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebookPath": "/mbuadl_agg/send_email",
								"baseParameters": {
									"schemaname": "simplifi",
									"filename": "campaign_event_detail_fct",
									"pipeline_name": {
										"value": "@pipeline().Pipeline",
										"type": "Expression"
									},
									"pipeline_id": {
										"value": "@pipeline().RunId",
										"type": "Expression"
									},
									"start_date": {
										"value": "@variables('start_date')",
										"type": "Expression"
									},
									"end_date": {
										"value": "@variables('end_date')",
										"type": "Expression"
									},
									"reason": "No new files in simplifi S3 bucket - "
								}
							},
							"linkedServiceName": {
								"referenceName": "ls_audi_databricks_v8x",
								"type": "LinkedServiceReference"
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "list_csv_files_to_load",
							"type": "GetMetadata",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "ds_audi_simplifi_campaign_event",
									"type": "DatasetReference"
								},
								"fieldList": [
									"childItems"
								],
								"storeSettings": {
									"type": "AmazonS3ReadSettings",
									"recursive": true,
									"modifiedDatetimeStart": {
										"value": "@variables('start_date')",
										"type": "Expression"
									},
									"modifiedDatetimeEnd": {
										"value": "@variables('end_date')",
										"type": "Expression"
									}
								},
								"formatSettings": {
									"type": "BinaryReadSettings"
								}
							}
						}
					]
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "If Condition1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('list_csv_files_to_load').output.childItems",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "download_files",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "BinarySource",
									"storeSettings": {
										"type": "AmazonS3ReadSettings",
										"recursive": true,
										"modifiedDatetimeStart": {
											"value": "@variables('start_date')",
											"type": "Expression"
										},
										"modifiedDatetimeEnd": {
											"value": "@variables('end_date')",
											"type": "Expression"
										},
										"wildcardFileName": {
											"value": "@{item().name}",
											"type": "Expression"
										},
										"deleteFilesAfterCompletion": false
									},
									"formatSettings": {
										"type": "BinaryReadSettings"
									}
								},
								"sink": {
									"type": "BinarySink",
									"storeSettings": {
										"type": "AzureBlobStorageWriteSettings"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "ds_audi_simplifi_campaign_event",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "ds_audi_azure_blob_snk",
									"type": "DatasetReference",
									"parameters": {
										"directoryName": "raw_simplifi_lnd/landing/"
									}
								}
							]
						}
					]
				}
			},
			{
				"name": "modified_start_date",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "check_for_load_type",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "start_date",
					"value": {
						"value": "@variables('start_date_true')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "modified_end_date",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "end_date",
					"value": {
						"value": "@concat(formatDateTime(utcnow(), 'yyyy-MM-dd'),' 04:00:00.000Z')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "check_for_load_type",
				"description": "This processor will check whether the parameter passed to the pipeline is \"initial\" or \"incremental\". According to the parameter, values for start_date and end_date will be set up.",
				"type": "IfCondition",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(pipeline().parameters.load_type,'initial')",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "get_delta_date",
							"type": "DatabricksNotebook",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebookPath": "/simplifi/campaign_event_detail_fct_to_adf_parameter"
							},
							"linkedServiceName": {
								"referenceName": "ls_audi_databricks_v8x",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "start_date",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "get_delta_date",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "start_date_true",
								"value": {
									"value": "@convertToUtc(activity('get_delta_date').Output.runOutPut, 'Eastern Standard Time')",
									"type": "Expression"
								}
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "start_date_true",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "start_date_true",
								"value": {
									"value": "@pipeline().parameters.start_date",
									"type": "Expression"
								}
							}
						}
					]
				}
			},
			{
				"name": "load_processor",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "ForEach1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/simplifi/simplifi_campaign_event_detail_loader"
				},
				"linkedServiceName": {
					"referenceName": "ls_audi_databricks_v8x",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "if incremental load fails send email",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "load_processor",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/mbuadl_agg/send_email",
					"baseParameters": {
						"schemaname": "simplifi",
						"filename": "campaign_event_detail_fct",
						"pipeline_name": {
							"value": "@pipeline().Pipeline",
							"type": "Expression"
						},
						"pipeline_id": {
							"value": "@pipeline().RunId",
							"type": "Expression"
						},
						"start_date": {
							"value": "@variables('start_date')",
							"type": "Expression"
						},
						"end_date": {
							"value": "@variables('end_date')",
							"type": "Expression"
						},
						"activity_output": {
							"value": "@activity('load_processor').outputrunPageUrl",
							"type": "Expression"
						},
						"reason": "Incremental load failed for "
					}
				},
				"linkedServiceName": {
					"referenceName": "ls_audi_databricks_v8x",
					"type": "LinkedServiceReference"
				}
			}
		],
		"parameters": {
			"load_type": {
				"type": "string",
				"defaultValue": "incremental "
			},
			"start_date": {
				"type": "string",
				"defaultValue": "03/01/2020 00:00:00"
			}
		},
		"variables": {
			"start_date": {
				"type": "String"
			},
			"end_date": {
				"type": "String"
			},
			"start_date_true": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2021-05-19T03:49:13Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}