pipeline/pl_united_amazoniap_load.json
{
	"name": "pl_united_amazoniap_load",
	"properties": {
		"activities": [
			{
				"name": "Amazoniap load Notebook",
				"type": "DatabricksNotebook",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": {
						"value": "/ProjectUnited/amazon_iap_load",
						"type": "Expression"
					},
					"baseParameters": {
						"filename": {
							"value": "@pipeline().parameters.TABLE_NAME",
							"type": "Expression"
						},
						"schemaname": {
							"value": "@pipeline().parameters.SCHEMA_NAME",
							"type": "Expression"
						},
						"EXEC_RUN_ID": {
							"value": "@pipeline().parameters.EXEC_RUN_ID",
							"type": "Expression"
						},
						"METADATA_JSON": {
							"value": "@string(pipeline().parameters.METADATA_JSON)",
							"type": "Expression"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "ls_audi_databricks_v8x",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "AmazonIAP V_ZIP_FILE_COUNT_DERIVED",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Amazoniap load Notebook",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "V_ZIP_FILE_COUNT_DERIVED",
					"value": {
						"value": "@string(activity('Amazoniap load Notebook').output.runOutput[0])",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Execute AmazonIAP Unzip Pipeline",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "AmazonIAP V_ZIP_FILE_COUNT_DERIVED",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "pl_united_amazoniap_unzip",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"V_ZIP_FILE_COUNT_DERIVED": {
							"value": "@variables('V_ZIP_FILE_COUNT_DERIVED')",
							"type": "Expression"
						},
						"SCHEMA_NAME": {
							"value": "@pipeline().parameters.SCHEMA_NAME",
							"type": "Expression"
						},
						"TABLE_NAME": {
							"value": "@pipeline().parameters.TABLE_NAME",
							"type": "Expression"
						},
						"STAGE_CONTAINER": {
							"value": "@pipeline().parameters.STAGE_CONTAINER",
							"type": "Expression"
						},
						"SRC_FILE_HEADER": {
							"value": "@pipeline().parameters.SRC_FILE_HEADER",
							"type": "Expression"
						},
						"SKIP_LINES": {
							"value": "@pipeline().parameters.SKIP_LINES",
							"type": "Expression"
						}
					}
				}
			}
		],
		"parameters": {
			"TABLE_NAME": {
				"type": "string"
			},
			"SCHEMA_NAME": {
				"type": "string"
			},
			"EXEC_RUN_ID": {
				"type": "string"
			},
			"METADATA_JSON": {
				"type": "string"
			},
			"STAGE_CONTAINER": {
				"type": "string"
			},
			"SRC_FILE_HEADER": {
				"type": "string"
			},
			"SKIP_LINES": {
				"type": "string"
			}
		},
		"variables": {
			"V_ZIP_FILE_COUNT_DERIVED": {
				"type": "String",
				"defaultValue": "NULL"
			}
		},
		"folder": {
			"name": "United"
		},
		"annotations": [],
		"lastPublishTime": "2021-08-31T04:34:30Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}