pipeline/pl_updt_unitedloadcontrol.json
{
	"name": "pl_updt_unitedloadcontrol",
	"properties": {
		"activities": [
			{
				"name": "Insrt Process Control Status",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureTableSource",
						"additionalColumns": [
							{
								"name": "RUN_STATUS",
								"value": {
									"value": "@pipeline().parameters.RUN_STATUS",
									"type": "Expression"
								}
							},
							{
								"name": "RUN_ID",
								"value": {
									"value": "@pipeline().parameters.EXEC_ID",
									"type": "Expression"
								}
							},
							{
								"name": "RUN_MESSAGE",
								"value": {
									"value": "@pipeline().parameters.RUN_MESSAGE",
									"type": "Expression"
								}
							},
							{
								"name": "LOAD_START_TIME",
								"value": {
									"value": "@pipeline().parameters.LOAD_START_TIME",
									"type": "Expression"
								}
							},
							{
								"name": "LOAD_END_TIME",
								"value": {
									"value": "@utcnow()",
									"type": "Expression"
								}
							},
							{
								"name": "ROWS_PROCESSED",
								"value": {
									"value": "@pipeline().parameters.ROWS_PROCESSED",
									"type": "Expression"
								}
							},
							{
								"name": "NEW_WINDOW_START_TIME_UTC",
								"value": {
									"value": "@pipeline().parameters.PREV_DELTA_VALUE",
									"type": "Expression"
								}
							},
							{
								"name": "NEW_WINDOW_END_TIME_UTC",
								"value": {
									"value": "@pipeline().parameters.CURR_DELTA_VALUE",
									"type": "Expression"
								}
							}
						],
						"azureTableSourceQuery": {
							"value": "@concat('PartitionKey eq ''', variables('V_METADATA_DEF_PARTITION_KEY'), '''',' and JOB_NAME eq ','''', pipeline().parameters.JOB_NAME, '''')",
							"type": "Expression"
						},
						"azureTableSourceIgnoreTableNotFound": false
					},
					"sink": {
						"type": "AzureTableSink",
						"azureTableInsertType": "merge",
						"azureTableDefaultPartitionKeyValue": {
							"value": "@pipeline().parameters.JOB_NAME",
							"type": "Expression"
						},
						"writeBatchSize": 10000
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "PartitionKey",
									"type": "String"
								},
								"sink": {
									"name": "PartitionKey",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "RowKey",
									"type": "String"
								},
								"sink": {
									"name": "RowKey",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "Timestamp",
									"type": "DateTimeOffset"
								},
								"sink": {
									"name": "Timestamp",
									"type": "DateTimeOffset"
								}
							},
							{
								"source": {
									"name": "RUN_ID",
									"type": "String"
								},
								"sink": {
									"name": "EXEC_ID",
									"type": "Guid"
								}
							},
							{
								"source": {
									"name": "LOAD_END_TIME",
									"type": "String"
								},
								"sink": {
									"name": "LOAD_END_TIME",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "LOAD_START_TIME",
									"type": "String"
								},
								"sink": {
									"name": "LOAD_START_TIME",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "RUN_MESSAGE",
									"type": "String"
								},
								"sink": {
									"name": "MESSAGE",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ROWS_PROCESSED",
									"type": "String"
								},
								"sink": {
									"name": "ROWS_PROCESSED",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "RUN_STATUS",
									"type": "String"
								},
								"sink": {
									"name": "STATUS",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "NEW_WINDOW_END_TIME_UTC",
									"type": "String"
								},
								"sink": {
									"name": "WINDOW_END_TIME",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "NEW_WINDOW_START_TIME_UTC",
									"type": "String"
								},
								"sink": {
									"name": "WINDOW_START_TIME",
									"type": "String"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "ds_elt_load_control",
						"type": "DatasetReference",
						"parameters": {
							"AZ_STORAGE_TABLE": {
								"value": "@pipeline().parameters.LOAD_CONTROL_TABLE",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "ds_elt_load_control",
						"type": "DatasetReference",
						"parameters": {
							"AZ_STORAGE_TABLE": {
								"value": "@pipeline().parameters.PROCESS_CONTROL_TABLE",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "Update Control Tables",
				"type": "Switch",
				"dependsOn": [
					{
						"activity": "Insrt Process Control Status",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"on": {
						"value": "@pipeline().parameters.RUN_STATUS",
						"type": "Expression"
					},
					"cases": [
						{
							"value": "SUCCESS",
							"activities": [
								{
									"name": "Upd METADATA DELTA VAL Aftr Dbricks copy",
									"description": "Upd METADATA DELTA VAL ",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "0.00:10:00",
										"retry": 2,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "AzureTableSource",
											"additionalColumns": [
												{
													"name": "NEW_DELTA_VALUE",
													"value": {
														"value": "@pipeline().parameters.CURR_DELTA_VALUE",
														"type": "Expression"
													}
												},
												{
													"name": "NEW_WINDOW_START_TIME_UTC",
													"value": {
														"value": "@pipeline().parameters.PREV_DELTA_VALUE",
														"type": "Expression"
													}
												},
												{
													"name": "NEW_WINDOW_END_TIME_UTC",
													"value": {
														"value": "@pipeline().parameters.CURR_DELTA_VALUE",
														"type": "Expression"
													}
												}
											],
											"azureTableSourceQuery": {
												"value": "@concat('PartitionKey eq ''', variables('V_METADATA_DEF_PARTITION_KEY'), '''',' and JOB_NAME eq ','''', pipeline().parameters.JOB_NAME, '''')",
												"type": "Expression"
											},
											"azureTableSourceIgnoreTableNotFound": false
										},
										"sink": {
											"type": "AzureTableSink",
											"azureTableInsertType": "merge",
											"azureTableDefaultPartitionKeyValue": "DEFAULT",
											"azureTableRowKeyName": {
												"value": "RowKey",
												"type": "Expression"
											},
											"writeBatchSize": 10000
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"mappings": [
												{
													"source": {
														"name": "PartitionKey"
													},
													"sink": {
														"name": "PartitionKey",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "RowKey"
													},
													"sink": {
														"name": "RowKey",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "Timestamp"
													},
													"sink": {
														"name": "Timestamp",
														"type": "DateTimeOffset"
													}
												},
												{
													"source": {
														"name": "NEW_DELTA_VALUE",
														"type": "String"
													},
													"sink": {
														"name": "CURR_MAX_DELTA_COL_VALUE",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "JOB_NAME"
													},
													"sink": {
														"name": "JOB_NAME",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "NEW_WINDOW_END_TIME_UTC",
														"type": "String"
													},
													"sink": {
														"name": "WINDOW_END_TIME_UTC",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "NEW_WINDOW_START_TIME_UTC",
														"type": "String"
													},
													"sink": {
														"name": "WINDOW_START_TIME_UTC",
														"type": "String"
													}
												}
											],
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "ds_elt_load_control",
											"type": "DatasetReference",
											"parameters": {
												"AZ_STORAGE_TABLE": {
													"value": "@pipeline().parameters.LOAD_CONTROL_TABLE",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "ds_elt_load_control",
											"type": "DatasetReference",
											"parameters": {
												"AZ_STORAGE_TABLE": {
													"value": "@pipeline().parameters.LOAD_CONTROL_TABLE",
													"type": "Expression"
												}
											}
										}
									]
								}
							]
						},
						{
							"value": "FAILED",
							"activities": [
								{
									"name": "Raise_Exception_Finally",
									"type": "AppendVariable",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"variableName": "V_EXCEPTION_ARR",
										"value": {
											"value": "@array(pipeline().parameters.RUN_MESSAGE)",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			}
		],
		"parameters": {
			"PREV_DELTA_VALUE": {
				"type": "string",
				"defaultValue": "NULL"
			},
			"CURR_DELTA_VALUE": {
				"type": "string",
				"defaultValue": "NULL"
			},
			"JOB_NAME": {
				"type": "string",
				"defaultValue": "NULL"
			},
			"LOAD_CONTROL_TABLE": {
				"type": "string",
				"defaultValue": "NULL"
			},
			"RUN_STATUS": {
				"type": "string",
				"defaultValue": "NULL"
			},
			"RUN_MESSAGE": {
				"type": "string",
				"defaultValue": "NULL"
			},
			"EXEC_ID": {
				"type": "string",
				"defaultValue": "NULL"
			},
			"PROCESS_CONTROL_TABLE": {
				"type": "string",
				"defaultValue": "NULL"
			},
			"LOAD_START_TIME": {
				"type": "string",
				"defaultValue": "NULL"
			},
			"ROWS_PROCESSED": {
				"type": "string",
				"defaultValue": "NULL"
			}
		},
		"variables": {
			"V_ELT_METADATA_TABLE": {
				"type": "String",
				"defaultValue": "UnitedLoadControl"
			},
			"V_METADATA_DEF_PARTITION_KEY": {
				"type": "String",
				"defaultValue": "DEFAULT"
			},
			"V_EXCEPTION_ARR": {
				"type": "Array"
			}
		},
		"folder": {
			"name": "United"
		},
		"annotations": [],
		"lastPublishTime": "2021-07-20T20:59:13Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}